# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\phong\hpbd\vanvan-hpbd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
